@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000000;
}

#root {
  /* font-family: 'Inter'; */
  font-family: 'Poppins', sans-serif;
  height: 100vh;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #555;
  border-radius: 0 0 1rem 0rem
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 0 0 1rem 0rem
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


